$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$font-family: Arial,
sans-serif;


// Set Text color based on bg
@function set-text-color($color){
    @if(lightness($color) > 70) {
        @return #333;
    }@else {
        @return #fff;
    }
}

// Set background & text color 
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

